Z:\flowch\.venv
Z:\flowch\.venv\
Z:\flowch\.venv\*
Z:\flowch\*.safetensors
*.JPG
*.safetensors
cache/
.venv/
src\_pycache_\
src/_pycache_/

/dataset/taiga_river
/dataset/text_cache
/dataset/output/sample
/dataset/latent_cache
/validation_latent_heavy
/src/__pycache__
dataset/output/SDXL_taiga_river_style_args.json
dataset/mng_oks_bl/DSC_0465.txt
dataset/mng_oks_bl/DSC_0466.txt
dataset/mng_oks_bl/DSC_0467.txt
dataset/mng_oks_bl/DSC_0468.txt
dataset/mng_oks_bl/DSC_0469.txt
dataset/mng_oks_bl/DSC_0472.txt
dataset/mng_oks_bl/DSC_0473.txt
dataset/mng_oks_bl/DSC_0475.txt
dataset/mng_oks_bl/DSC_0476.txt
dataset/mng_oks_bl/DSC_0481.txt
dataset/mng_oks_bl/DSC_0482.txt
dataset/mng_oks_bl/DSC_0483.txt
dataset/mng_oks_bl/DSC_0484.txt
dataset/mng_oks_bl/DSC_0485.txt
dataset/mng_oks_bl/DSC_0486.txt
dataset/mng_oks_bl/DSC_0487.txt
dataset/mng_oks_bl/DSC_0522.txt
dataset/mng_oks_bl/DSC_0523.txt
dataset/mng_oks_bl/DSC_0524.txt
dataset/mng_oks_bl/DSC_0525.txt
dataset/mng_oks_bl/DSC_0526.txt
dataset/mng_oks_bl/DSC_0527.txt
dataset/mng_oks_bl/DSC_0528.txt
dataset/mng_oks_bl/DSC_0529.txt
dataset/mng_oks_bl/DSC_0530.txt
dataset/mng_oks_bl/DSC_0531.txt
dataset/mng_oks_bl/DSC_0532.txt
dataset/mng_oks_bl/DSC_0533.txt
dataset/mng_oks_bl/DSC_0554.txt
dataset/mng_oks_bl/DSC_0555.txt
dataset/mng_oks_bl/DSC_0556.txt
dataset/mng_oks_bl/DSC_0557.txt
dataset/mng_oks_bl/DSC_0559.txt
dataset/mng_oks_bl/DSC_0560.txt
dataset/mng_oks_bl/DSC_0562.txt
dataset/mng_oks_bl/DSC_0563.txt
dataset/mng_oks_bl/DSC_0564.txt
dataset/mng_oks_bl/DSC_0569.txt
dataset/mng_oks_bl/DSC_0570.txt
dataset/mng_oks_bl/DSC_0571.txt
dataset/mng_oks_bl/DSC_0572.txt
/src/__pycache__
*.pyc
/output/images
/dataset/output
/output/images
/output
/output/images
/.continue
/.inverse
/learn/ao
*.py_backup
